//@import '../../styles/foundation/foundation.scss';
@import '../../../node_modules/foundation-sites/scss/foundation';

.home-wrap {
  &.with-small-header {
    margin-top: 45vh;
  }

  .home_bg1 {
    background-image: url('./assets/bg1.jpg');
  }
  .home_bg2 {
    background-image: url('./assets/bg2.jpg');
  }
  .home_bg3 {
    background-image: url('./assets/bg3.jpg');
  }

  .background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
  }

  @include breakpoint(small down) {
    .top-section {
      min-height: 40vh;
      height: 100%;
    }
    .logo-big {
      padding-top: 20px;
    }
    .text-content-wrap ul{
      float: none !important;
    }
  }
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0 !important;
    height: 100% !important;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
  height: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        height: 100%;
        width: auto;

    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.gallery-images-wrap {
  width: 100%;
  height: 100%;
}
.gallery-item-img-wrap {
  width: 100%;
  height: 100%;
}
